{% extends 'base.html.twig' %}
{% block body %}
<section class="about">
  <h1>Our Story</h1>
  <p>P.NO was founded on the belief that simplicity is the ultimate form of elegance. Each piece is designed with sustainability and comfort in mind, crafted for those who value timeless style over fleeting trends.</p>
</section>
{% endblock %}
